.full{
  color: yellow;
  height: 100%;
}
body{
  background: yellow
}
.top{
  border: 2px solid black;
  background: linear-gradient(red,yellow);
  height: 100px;
  width: 100%;
  color: blue;
  text-align: center;
  align-content: center;
  font-size: 40px;
}
.index{
  display: flex;
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 30%;
  gap:2%
}
.mainbtn{
  height: 100px;
  width: 200px;
  font-size: 30px;
  color: blue;
  background: linear-gradient(red,yellow);
}
.right{
  align-content: center;
  margin-top: 10%;
  margin-left: 35%;
  height: 30%;
  width: 30%;
  background: linear-gradient(red,yellow);
}
.form1{
  font-size: 30px;
  align-content: center;
  margin-left: 20%;
  width: 50%;
  margin-bottom: 70px;
}
.input{
   height: 30px;
   width: 290px;
}
.btn{
  height: 80px;
   width: 125px;
   background: #7161e9;
   color: #f4ebeb;
}
.sumbtn{
  margin-top: 30px;
   height: 40px;
   width: 75px;
   background: #7161e9;
   color: #f4ebeb;
}
.btn:hover{
  color:#070328
}
.ulnav{
  border: 2px solid rgb(13, 16, 2);
  display: flex;
  gap: 37%;
  width: 100%;
  height: 80px;
}